# ___

# [ Python self-test]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*


___

This is a collection of various basic Python programming exercises.  Python is needed in various courses as for instanbce in Machine Learnign for Geosciences. Students are expected to self-evaluate their knowledge and possibly navigate to topices needed to improve.

Code cells are empty or partly developed. It is expected that student will fill-in the corresponding part to get correct result. The expected result is printed blow. Each section where students shall enter their solution is commented by `# complete here`. 

Run each completed box by pressing shift-enter or using the play button in the toolbar.

### Variable assigment

In [1]:
# create a varable a and assign value of 5 to it 
# complete here
a=5
print(a)

5

### Numerical data types

In [5]:
x = 1.0

In [6]:
# print type of x
# complete here
type(x)

float

In [7]:
# convert x to float and print its type
x = '11'
# complete here
x = float(x)
type(x)

float

### Operators

In [ ]:
# +  -  *  /

In [8]:
# assign y to 1 plus 2
# complete here
y=1+2
print(y)

3

In [9]:
# assign y to 1 mius 2
# complete here
y=1-2
print(y)

-1

In [10]:
# assign y to 2 multiplied 3
# complete here
y=2*3
print(y)

6

In [11]:
# assign y to 2 divided 3
# complete here
y=2/3
print(y)

0.6666666666666666

In [12]:
# integer division of float numbers
# assign y to 3.0 divided by 2.0
# complete here
y=3.0/2.0
print(y)

1.5

In [30]:
# power operator
# assign y to 2 to the power of 3 
# complete here
y=2**3
print(y)

8

In [17]:
# binary AND 
# assign y to logical poration:true AND false
# complete here
y=True and False
print(y)

False

In [16]:
# negation 
# assing y to not false 
# complete here
y=not False
print(y)

True

In [18]:
# bianry OR
# assign y to logical opeartion true OR false
# complete here
y=True or False
print(y)

True

### Predicats

In [21]:
# Compare and evaluate if 2 higher than 1
# complete here
2>1

True

In [22]:
# Compare and evaluate if 2 smaller or equal to two
# complete here
2<=2

True

In [25]:
# Equality comparison
# Compare and evaluate if list [1,2] is equal to [1,2]
# complete here
[1,2] == [1,2]

True

In [26]:
# Equality comparison
# Compare and evaluate if 3 is equal to false?
# complete here
3==False

False

In [27]:
# Compare and evaluate if 1 is equal to true?
# complete here
1==True

True

### Strings

In [28]:
# Assign string 'Hello world' to variable s
# complete here
s='Hello world'
print(s)

Hello world

In [29]:
# How long is the variable s? 
# complete here
len(s)

11

In [38]:
# Replace the string world with string 'test' and print the result
s2 = s.replace("world", "test")
print(s2)

Hello test

In [33]:
# Select and print the first element of string s 
# complete here
print(s[0])

H

In [34]:
# Select and print the last element of string s 
# complete here
print(s[-1])

d

In [37]:
# Select and print the first five elements of string s 
# complete here
s[:5]

'Hello'

In [40]:
# Select and print the last five elements of string s 
# complete here
s[-5:]

'world'

In [43]:
# Define step size of 2 and print the extract (every second letter) from string
# complete here
s[::2]

'Hlowrd'

In [44]:
# Join two strings using Python package os to create full path to the file 
# '/data/experiment/' 
# 'data.csv'
import os
# complete here
os.path.join("/data/experiment/","data.csv")

'/data/experiment/data.csv'

In [49]:
# Format the following float variable to 3 decimals in print statement
# complete here
var = 3.14159
print("%.3f" % var)

3.142

In [50]:
# Round loat variable to 2 decimals 
# complete here
var = 3.14159
round(var,2)

3.14

### Lists

In [51]:
# Create list variable l of numbers 1,2,3,4 and print it
# complete here
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [56]:
# Print second to third elements of list l 
# complete here
print(l[1:3])

[2, 3]

In [57]:
# Print first two elements of list l 
# complete here
print(l[:2])

[1, 2]

In [58]:
# Print first element of list l 
# complete here
print(l[1])

2

In [59]:
# Don't have to be the same type
# create list l of mixed data types: integer, string, float, tuple of numbers 1 and 2
# complete here
l = [1, 'a', 1.0, (1, 2)]
print(l)

[1, 'a', 1.0, (1, 2)]

In [62]:
# Create list of series (named series) starting at 10, ending at 30 with step 2
# use range operator
start = 10
stop = 30
step = 2

# complete here
series = range(start,stop,step)
print(list(series))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [70]:
# Create a new empty list l 
# complete here
l=[]
print(l)

[]

In [71]:
# Add an elements 'A' to the list, than 'B' and 'C'
# complete here
l.append("A")
l.append("B")
l.append("C")

print(l)

['A', 'B', 'C']

In [72]:
# Replace second element with 'b' and third element with 'c'
# complete here
l[1] = "b"
l[2] = "c"
print(l)

['A', 'b', 'c']

In [73]:
# Insert 'i' at the first element of the list l 
# insert 'n' at the second element of the list l 
# complete here
l.insert(0,"i")
l.insert(1,"n")

print(l)

['i', 'n', 'A', 'b', 'c']

In [74]:
# Remove element 'A' 
# complete here
l.remove("A")
print(l)

['i', 'n', 'b', 'c']

In [75]:
# Delete the third element 
# complete here
l.pop(2)

print(l)

['i', 'n', 'c']

### Tuples

In [81]:
# Create tuple point with slcalars 10 and 20 
# complete here
point = (10,20)
print(point)

(10, 20)

In [82]:
# Unpack the values of point into x and y and print the values 
# complete here
x = point[0]
y = point[1]

print("x =", x)
print("y =", y)

x = 10
y = 20

### Dictionaries

In [83]:
# Create dictionary params with three items: 
# theta1 equal to 1.0 
# theta2 equal to 2.0 
# theta3 equal to 3.0 
# complete here 
params = {"theta1":1.0, "theta2":2.0, "theta3":3.0}

print(params)

{'theta1': 1.0, 'theta2': 2.0, 'theta3': 3.0}

In [85]:
# Add one element to the dictionary params: 
# bias equal to 5.0 
# complete here 
params.update({"bias":5.0})
print(params)

{'theta1': 1.0, 'theta2': 2.0, 'theta3': 3.0, 'bias': 5.0}

### Control Flow

In [86]:
# Create if else statment
# first evaluation is based on statement1, print the value of statement
# second evaluation is based on statement2, print the value of statement
# print third evaluation with string 'Neither is true.' 

statement1 = False
statement2 = False

# complete here 
if statement1:
    print(statement1)
elif statement2:
    print(statement2)
else:
    print('Neither is true.')

Neither is true.

### Loops

In [88]:
# Create for loop iterating over numbers from 0 to 3, step 1
# print the numbers in the loop 
# complete here
for i in range(0,4):
    print(i)

0
1
2
3

In [89]:
# Create for loop iterating over these strings "scientific", "computing", "with", "python"
# print the strings in the loop 
# complete here

for i in ["scientific", "computing", "with", "python"]:
    print(i)

scientific
computing
with
python

In [92]:
# Create a loop iterating over elments of dictionary params
# print key and value in each step of the loop in a format: key = value
# e.g. parameter1 = 1.0

# complete here
for i,k in params.items():
    print(f"{i} = {k}")

theta1 = 1.0
theta2 = 2.0
theta3 = 3.0
bias = 5.0

In [98]:
# Create a loop over range (-3, 3), which prints tuple of index and value 
# e.g. (0, -3), etc. 

# complete here
for i in range(0,len(range(-3,4,1)),1):
    print(i, range(-3,4,1)[i])

0 -3
1 -2
2 -1
3 0
4 1
5 2
6 3

In [94]:
# List comprehension 
# creat a list of values to the power of 2 from range(0,5) using list comprehension 

# complete here
l1 = [x**2 for x in range(0,5)]
print(l1)

[0, 1, 4, 9, 16]

In [96]:
# Use while loop to iterate from 0 to 4, print the index values
# at the end print statement 'done'

# complete here
i=0
while i <= 4:
    print(i)
    i+=1
print("done")

0
1
2
3
4
done

### Functions

In [3]:
# Create a function func() which takes variable s (string) and print a string 's' and tell how many characters it has
# e.g. s has x characters 
# include a docstring

# complete here 
def func(s):
    """ 
    Print a string 's' and tell how many characters it has
    """
    print(f"{s} has {len(s)} characters")

func("hello")

hello has 5 characters

In [4]:
# Print first the help of the function
# complete here
help(func)

Help on function func in module __main__:

func(s)
    Print a string 's' and tell how many characters it has

In [100]:
# Use the function func(s), pass string 'Test'

# complete here
func("Test")

Test has 4 characters

In [5]:
# Create function square, which takes numerical value and returns square value of the input

# complete here
def square(n):
    return n**2

In [8]:
# Use the function square, pass number 5 and print it

# complete here
square(5)

25

In [9]:
# Create function powers with multiple return values
# it shall return power of 2, 3, and 4

# complete here
def powers(n):
    return n**2, n**3, n**4

In [12]:
# Use the function powers, pass number 5 

# complete here
powers(5)

(25, 125, 625)

In [15]:
# Unpack the power vlaues into variables x1, x2, and x3, print them separated by chartacter ':'

# complete here
x1,x2,x3 = powers(5)
print(x1,':',x2,':',x3)

25 : 125 : 625

In [16]:
# Create anonimate function with lambda, which returns power of 2 of the input number 

# complete here
x = lambda a : a**2

In [19]:
# Use the function, pass in value 5 and print the result

# complete here
x(5)

25

In [23]:
# Create lambda function returning power of 2 for input of range(-3, 4) 
# use map to pass range falue to lambda, print the values, you can use e.g. list  

x = lambda a : a**2
y = list(map(x, range(-3, 4)))
print(y)

[9, 4, 1, 0, 1, 4, 9]

In [24]:
# Print the values of the above map function in a loop 
for i in y:
    print(i)

9
4
1
0
1
4
9

In [94]:
#------------------------------------------------------------------------------------------------------------------#

### Classes

In [31]:
# Crete Python class Point initiated with two numerical values x and y 
# add method translate, which adds values of dx and dy to the internal class values of x and y 
# add also __str__ method printing string: "Point at x, y"

# complete here
class Point:
    def __init__(self, x, y):
        self.x = float(x)
        self.y = float(y)
        
    def translate(self, dx, dy):
        self.x = dx
        self.y = dy
        
    def __str__(self):
        return f"Point at {self.x}, {self.y}"

In [32]:
# Create an instance of class Point, initiated with values of 1, 1
# prin the point 

# complete here
p1 = Point(1,1)
print(p1)

Point at 1.0, 1.0

In [33]:
# Update the values of point p1 with 0.25 of x and 1.5 of y 
# use your method translate

# complete here
p1.translate(0.25,1.5)

print(p1)

Point at 0.25, 1.5

In [45]:
# Create class Point2, whcih inherits from class Point and extend the functionality for method vector 
# which returns the size of the vector of the point from origin 
# complete here 

import math 

class Point2(Point): 
    def __init__(self, x, y):
        super().__init__(x, y)
        self.org_x = 0
        self.org_y = 0
        self.size = 2
    def vector(self):
        self.size = ((self.org_x - self.x)**2 + (self.org_y - self.y)**2)**0.5
        return self.size

In [47]:
# Test your extended class Point2, intitate it with values of 2, 2 
# prin the size of the vector 

# complete here
p2 = Point2(2,2)
print(p2)
p2.vector()
print(f"Vector size: {p2.size}")

Point at 2.0, 2.0
Vector size: 2.8284271247461903

### Exceptions

In [50]:
# Create an exception statement for printing test1
# you try to print the result of the test1, which doesnt exist at the current state and you capture exception, 
# which prints this string: 'Caught an exception on test1'

# complete here
try:
    print(test1)
except:
    print("Caught an expection")

Caught an expection

In [52]:
# extend the above exeption statement for the type of the exception, 
# print it in the exception clause: "Caught an exception: name 'test1' is not defined"

# complete here
try:
    print(test1)
except Exception as e:
    print(f"Caught an expection: {e}")

Caught an expection: name 'test1' is not defined