# ___

# [ Machine Learning in Geosciences ]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*

    
___

## Python Pandas exercises 

Tasks: 

1. Create Pandas Series; 

2. Create indexed series; 

3. Select susbset from DataFrame; 

4. Apply conditional selection; 

5. Input data from text file;

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
import string

C:\Users\uzivatel\AppData\Local\Temp\ipykernel_18796\238134377.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Object Creation

<span style="color:red">Exercise 1:</span> create Pandas Series of 1 .. 20 numbers and  A .. T letters as index.

In [5]:
numbers = list(range(1,21))
letters = list(string.ascii_uppercase)[0:20]

In [6]:
print(numbers)
print(letters)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T']

In [7]:
pd.Series(numbers,letters)

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
K    11
L    12
M    13
N    14
O    15
P    16
Q    17
R    18
S    19
T    20
dtype: int64

### Data in a Series

<span style="color:red">Exercise 2:</span> create alphabetically indexed Pandas series of EU27 counties.

In [10]:
# 'AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE'
countries = ['AT', 'BE', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'DE', 'GR', 'HU', 'IE', 'IT', 'LV', 'LT', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'ES', 'SE']
eu27 = pd.Series(range(1,28),countries)

In [11]:
eu27.head()

AT    1
BE    2
BG    3
HR    4
CY    5
dtype: int64

### DataFrames

In [12]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [13]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

<span style="color:red">Exercise 3:</span> Select columns X to Z and rows B and C from Pandas DataFrame **df**.

In [15]:
df.loc[["B","C"],["X"]]

          X
B -0.319318
C  0.740122

In [16]:
df.loc[["B","C"],["Y"]]

          Y
B -0.848077
C  0.528813

In [17]:
df.loc[["B","C"],["Z"]]

          Z
B  0.605965
C -0.589001

**Create new column as a product of column X and Y**

In [18]:
df['new'] = df['X'] + df['Y']

In [19]:
df["new"]

A    1.536102
B   -1.167395
C    1.268936
D   -1.692109
E    4.584725
Name: new, dtype: float64

### Conditional Selection

<span style="color:red">Exercise 4:</span> Select all negative data

In [21]:
df[df<0]

          W         X         Y         Z       new
A       NaN       NaN       NaN       NaN       NaN
B       NaN -0.319318 -0.848077       NaN -1.167395
C -2.018168       NaN       NaN -0.589001       NaN
D       NaN -0.758872 -0.933237       NaN -1.692109
E       NaN       NaN       NaN       NaN       NaN

### Data Input and Output

<span style="color:red">Exercise 5:</span> Read csv data stored in file *multi_index_example* to Pandas DataFrame.

In [22]:
file_name = 'housing.csv'
df = pd.read_csv(file_name)

In [23]:
# print head 
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY